body{
    background-color: #0c0818;
}

h1{
    text-align: center;
    font-family: 'Bebas Neue', 'Sans-serif';
    font-weight: 300;
    font-size: 45px;
    color: white;
    padding-top: 10px;
    letter-spacing: 1.5px;
}

.calcu-div{
    background-color: #ddd;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top: 50px;
    width: 400px;
    height: 430px;
    padding-bottom: 0;
}

.display{
    background-color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.show{
    font-family: 'Comfortaa', 'Sans-serif';
    font-size: 28px;
    font-weight: 200;
    color: black;
    text-align: right;
    padding: 2px;
    border: none;
    height: 50px;
    

}
.keys{
    margin:0;
    text-align:center;
    padding-top:20px;
}
.exp, .sqrt, .decimal, .plus, .minus, .multi, .divide,.one,.two, .three,
.four, .five, .six, .seven, .six, .seven, .eight, .nine, .zero{
    font-size: 22px;
    background-color: white;
    border-style: solid;
    border-color: #0c0818;
    border-width: 1px;
    width: 90px;
    height: 65px;
}
.equals, .clear, .delete{
    font-size: 22px;
    background-color: #3b61a3;
    border-style: solid;
    border-color: #0c0818;
    border-width: 1px;
    width: 90px;
    height: 65px;
    color:white;
}
.first-row, .sec-row, .third-row, .fourth-row, .fifth-row{
    padding:0;
    margin:0;
}
button:active{
    background-color:#a7c5f9;
    color:black;
}